
body{background-color: rgb(234, 235, 237);}

main {
    width: 800px;
    height: 500px;
    background-color: rgb(234, 235, 237);
    margin-left: calc((100% - 700px) / 2);
    display: inline-block;
    margin-top: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#left{
    height: 500px;
    width: 50%;
    background-color: rgb(234, 235, 237);
    display: inline-block;
    float: left;
    margin-top: 40px;
}

img {
    width: 90%;
}

#right{
    height: 500px;
    width: 35%;
    background-color: rgb(234, 235, 237);
    display: inline-block;
    float: left;
    text-align: center; 
    color: rgb(85, 80, 80);
    
}

h1{
    font-size: 90px;
    color: rgb(91, 88, 88);

}

p{font-weight: bold;}

#medium{
    font-size: medium;
}

#small{
    font-size: smaller;
    font-weight: 400;
}

button {
    padding: 10px 15px;
    background-color: rgb(127, 146, 162);
    border: 0;
    font-weight: 800;
    color: azure;
   
}